@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap");

@media (max-width: 375px) {
  body {
    font-family: "Red Hat Display", sans-serif;
    background: url(./images/pattern-background-desktop.svg),
      hsl(225, 100%, 94%);
    background-repeat: repeat-x;
    padding-top: 200px;
    margin:20px;
  }
}
@media (max-width: 1440px) {
  body {
    font-family: "Red Hat Display", sans-serif;
    background: url(./images/pattern-background-desktop.svg),
      hsl(225, 100%, 94%);
    background-repeat: repeat-x;
    padding-top: 200px;
  }
}
@media (max-width: 1920px) {
  body {
    font-family: "Red Hat Display", sans-serif;
    background: url(./images/pattern-background-desktop.svg),
      hsl(225, 100%, 94%);
    background-repeat: repeat-x;
    padding-top: 200px;
  }
}
.order-card-container {
  padding: 10px;
  margin: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.order-card {
  background: white;
  width: 400px;
  border-radius: 20px;
}

.order-card-image {
  width: 400px;
}
.order-card-image img {
  width: 400px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.order-card-desc {
  padding: 20px;
  color: hsl(224, 23%, 55%);
  font-size: 16px;
}
.order-card-desc h1 {
  color: black;
}

.order-card-price {
  width: 300px;
  height: 80px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  background: hsla(225, 40%, 70%, 0.123);
  border-radius: 10px;
}
.price-item {
  display: flex;
  align-items: center;
  gap: 110px;
  font-size: 12px;
  opacity: 1;
  color: hsl(224, 23%, 55%);
}

.price-item a {
  font-size: 14px;
  font-weight: bolder;
  color: black;
}

.price-item a:hover {
  color: hsl(223, 86%, 45%);
}

.order-card-btn {
  padding: 20px;
}

.order-card-btn button {
  width: 300px;
  height: 40px;
  background: hsl(245, 75%, 52%);
  color: white;
  border-radius: 7px;
  border: none;
  box-shadow: 0px 15px 10px 0px rgba(224, 232, 255, 1);
}

.order-card-btn button:hover {
  cursor: pointer;
  background: hsl(245, 50%, 60%);
  transition: 0.5s;
}

.btn-sub {
  padding-top: 20px;
  color: hsl(224, 44%, 40%);
}

.btn-sub a:link {
  text-decoration: none;
}
.btn-sub a:visited {
  text-decoration: none;
}
.btn-sub a:hover {
  color: black;
  font-weight: bolder;
}

.attribution {
  font-size: 18px;
}

@media (width);
